APP_CONFIG__LLM__API_KEY = "EMPTY"
APP_CONFIG__LLM__API_BASE_URL = "http://host:11434/v1"
APP_CONFIG__LLM__MODEL = "model"
# APP_CONFIG__OPENAPI__PATH=./openapi.json
APP_CONFIG__OPENAPI__URL=http://localhost:8000/openapi.json